body {
  background-color: #c8d6e5;
  font-family: "Roboto", sans-serif;
}

.FirstItemHide:first-child {
  display: none;
}

.msg-btn {
  width: 2rem;
}

.message-text {
  font-size: 0.9rem;
}

/* 
#backgroundColor {
  display: flex;
  padding: 15px;
} */

#large-text-checkbox {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

#change-theme-color {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

#change-text-color {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.message-board {
	max-height: 60vh;
	overflow-y: auto;
}
