body {
	background-color: #c8d6e5;
	font-family: "Roboto", sans-serif;
}

#none {
	display: none;
}

.msg-btn {
	width: 2rem;
}

.message-text {
	font-size: 0.9rem;
}

.message-board {
	max-height: 60vh;
	overflow-y: auto;
}

#user-selected {
	min-width: 150px;
	height: 38px;
}
